.chekoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkoutProduct__info {
  padding-left: 20px;
  width: 300px;
}
.checkoutProduct__info > button {
  cursor: pointer;
  background: #f0c14b;
  border: 1px solid;

  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  background-color: none;
}
.ChechoutProduct_image {
  object-fit: contain;
  width: 100px;
  height: 180px;
}
.CheckoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}
.CheckputProduct__price {
  font-size: 20px;
  font-weight: 850;
  margin-top: -10px;
}
.CheckoutProduct_rating {
  display: flex;
  margin-top: -25px;
}
